.container {
   width: 100%;
   height: 100vh;
   margin: 0 auto;
}

#header {
   width: 100%;
   background-color: #282a35;
   box-sizing: border-box;
}

#nav {
   display: flex;
   list-style-type: none;
   color: #fff;
   margin: 0;
}

#nav li{
   padding: 15px 20px;
}
header #nav li:hover{
   background-color: #000;
   cursor: pointer;
}

footer #nav li:hover{
   color: rgb(85, 141, 226);
   cursor: pointer;
}

footer #nav{
   width: 50%;
   margin: 0 auto;
}

#left {
   width: 15%;
   background-color: #e7e9eb;
   overflow-y: scroll;
}

#nav-left{
   list-style: none;
   padding-inline-start:0;
   margin: 0;
}
#nav-left li{
   padding: 10px ;
}

#nav-left li:hover{
   background-color: rgb(146, 144, 142);
   cursor: pointer;
}


.content {
   display: flex;
   width: 100%;
}

.wrap-form {
   margin-left: 20px;
}

.wrap-form label{
   width: 110px;
   display: inline-block;
   padding: 10px 0;
}
.wrap-form h1{
   margin-left: 120px;
}
.wrap-form input[type=text],.wrap-form input[type=password]{
   padding: 10px 10px;
   margin: 8px 0;
   width: 300px;
   border-radius: 4px;
   box-sizing: border-box;
   border:2px solid gray;
   outline:none;
}

.wrap-form input[type=text]:focus,.wrap-form input[type=password]:focus{
   border:2px solid rgb(8, 8, 238,0.8) !important;
   box-shadow: 2px 0px 2px rgb(8, 8, 238,0.3),0px 2px 2px rgb(8, 8, 238,0.3);
   outline: none;
}

.btn{
   padding: 8px 20px;
   width: 90px;
   margin: 15px 30px;
   font-weight: 500;
   font-size: 17px;
   border-radius: 5px;
   border: 1px solid gray;
}

.btn:hover{
   cursor: pointer;
   background-color: #0e6efd;
   color: #fff;
}

#city{
   padding: 5px 15px;
   border:2px solid gray;
   border-radius: 3px;
}

section {
   width: 75%;
}

.flugin{
   padding:10px 20px;
   box-sizing: border-box;
   margin-right: 15px;
}

.flugin iframe{
   width: 100%;
   height:400px;
   margin: 20px;
   box-sizing: border-box;
}

#footer {
   width: 100%;
   background-color: #282a35;
}